
@media screen and (max-width: 1024px) {   
    .dashboard-navbar {
        position: fixed;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        transition: transform 0.4s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    }
    
    .dashboard-navbar.dashboard-active {
        transform: translateX(0);
    }
    
}